:root {
    --b-r: #0CAADC;
    --b-bl: black;
    --b-bu: #4392F1;
    --f-bg: #001021;
    --item-col: #1481BA;
}
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flex {
    display: flex;
    background-color: var(--f-bg);
    width: 99%;
    justify-content: space-between;
    border: solid 5px var(--b-bu);
    border-radius: 20px;
    align-items: center;
    position: fixed;
    top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background: linear-gradient(45deg, var(--b-r) 10%,var(--b-bl) 5%,var(--b-bl) 75%,var(--b-bl) 5%,var(--b-bu) 5%);
}
h1 {
  padding-left: 15px; 
  color: white;
}
 ul {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin: 20px 0 0 20px;
    padding-right: 45px;
} 
li > a {
    text-decoration: none;
    font-size: 1.5em;
    color: #dfdfe2;
}
ul > li {
    color: #dfdfe2;
    margin-right: 25px;
    padding-bottom: 15px;
    display: block;
}
.contain {
    margin: 140px auto;
    width: 95%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    max-width: 1400px; 
}
.item {
    background-color: var(--item-col);
    width: 300px;
    height: 500px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 black;
}

img {
    width: 270px;
    height: 260px;
    border-radius: 5px;
    margin: 0 18px 0 10px;
    border: solid 4px black;
}
.item:hover {
    width: 320px;
    height: 520px;
    padding: 15px;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-name: item;
    animation-delay: 0ms;
}
a {
    text-decoration: none;
    color: #ffffff;
}
span {
    color: rgb(141, 203, 214)
}
.line {
    height: 2px;
    width: 350;
    justify-content: center;
    border-bottom: solid 2px #000a63;
}
.descr {
    color: #c1c1c1;
}
.name {
    font-size: 20px;
    padding-left: 50px;
}
.logo {
    height: 55px;
    width: 55px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 0
}
footer {
    background-color: var(--item-col);
    border: 4px solid var(--b-r);
    border-radius: 10px 10px 0 0;
    width: 100%;
    margin: 0 0 0 0;
}
.foot {
    padding: 0 70px 0 70px;
    font-size: 20px;
}
.fot{
    text-align: right;
    padding: 0 10px 0 0;
}
.thank {
    font-size: 25px;
    text-align: center;
}
.no-pr {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
}
@media(max-width: 600px){
    .item {
       width: 100px;
       height: 250px;
    }
    .item:hover {
        width: 105px;
        height: 255px;
        animation-name: it;
    }
    .flex {
        height: 60px
    }
    img {
        width: 97px;
        height: 97px;
        margin: 2px -1px;
    }
    h1 {
        font-size: 15px;
    }
    .logo, .no-pr {
        width: 25px;
        height: 25px;
    }
    .contain {
        gap: 25px
    }
    li > a {
        font-size: 15px;
    }
    ul {
        position: fixed;
        top: 27px;
        left: 15px;
        width: 80%;
        height: 30px;
        border-radius: 0 0 5px 5px;
        background-color: var(--f-bg);
    }
    .descr {
        font-size: 10px;
        overflow: hidden;
    }
    .name {
        font-size: 10px;
        padding-left: 0;
    }
    span, p {
        font-size: 10px;
    }
    body {
        background: linear-gradient(48deg, var(--b-r) 10%,var(--b-bl) 5%,var(--b-bl) 75%,var(--b-bl) 5%,var(--b-bu) 5%);
    }
    
}
@keyframes item {
    0% {
        width: 300px;
        height: 500px;
    }
    100% {
        width: 320px;
        height: 520px;
    }
}
@keyframes it {
    0% {
        width: 100px;
        height: 250px;
    }
    100% {
        width: 105px;
        height: 255px;
    }
}